/*--------------------------------------------------------------
>>> Animation
--------------------------------------------------------------*/
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(68, 146, 80, 0.7);
            box-shadow: 0 0 0 0 rgba(68, 146, 80, 0.7);
    opacity: 1;
  }
  40% {
    -webkit-box-shadow: 0 0 0 3.25rem rgba(68, 146, 80, 0);
            box-shadow: 0 0 0 3.25rem rgba(68, 146, 80, 0);
    opacity: .6;
  }
  80% {
    -webkit-box-shadow: 0 0 0 3.25rem rgba(68, 146, 80, 0);
            box-shadow: 0 0 0 3.25rem rgba(68, 146, 80, 0);
    opacity: .2;
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(68, 146, 80, 0);
            box-shadow: 0 0 0 rgba(68, 146, 80, 0);
    opacity: 0;
  }
}

@keyframes pulsing {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(68, 146, 80, 0.7);
            box-shadow: 0 0 0 0 rgba(68, 146, 80, 0.7);
    opacity: 1;
  }
  40% {
    -webkit-box-shadow: 0 0 0 3.25rem rgba(68, 146, 80, 0);
            box-shadow: 0 0 0 3.25rem rgba(68, 146, 80, 0);
    opacity: .6;
  }
  80% {
    -webkit-box-shadow: 0 0 0 3.25rem rgba(68, 146, 80, 0);
            box-shadow: 0 0 0 3.25rem rgba(68, 146, 80, 0);
    opacity: .2;
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(68, 146, 80, 0);
            box-shadow: 0 0 0 rgba(68, 146, 80, 0);
    opacity: 0;
  }
}

@-webkit-keyframes timer_beat {
  40%, 80% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.125);
            transform: scale(1.125);
  }
}

@keyframes timer_beat {
  40%, 80% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale(1.125);
            transform: scale(1.125);
  }
}

/*--------------------------------------------------------------
>>> Single post
--------------------------------------------------------------*/
.hide-sidebar .container {
  max-width: 88.75rem;
}

.single-inner {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 3rem;
}

.single-inner > .post,
.archive-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 2.875rem;
  max-width: calc(100% - 22.25rem);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar-area {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 22.25rem;
}

/* Breadcums */
.dt-breadscrumb {
  margin: 3.75rem 0 .75rem;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #6d6c6c;
  font-size: .75rem;
  line-height: 1rem;
}

.breadcrumb li {
  position: relative;
  margin-right: .5rem;
  padding-right: .9rem;
}

.breadcrumb li:not(:last-child):after {
  content: '';
  position: absolute;
  width: .375rem;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url(../images/breadc_arrow.svg);
  background-repeat: no-repeat;
  background-size: .3rem;
  background-position: center;
}

.breadcrumb li:last-child {
  margin-right: 0;
}

.breadcrumb a,
.breadcrumb span {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  line-height: 0;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

/* Post title */
.post-title-wrapper {
  margin: 0 0 1rem;
}

.post-title {
  font-size: 1.675rem;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

/* Share post */
.share-post {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.share-post__item {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
  border: thin solid rgba(0, 0, 0, 0.58);
  position: relative;
  -webkit-transition: all .15s;
  transition: all .15s;
}

.share-post__item:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.share-post__item img {
  max-width: 1.45rem;
  max-height: 1rem;
  -webkit-transform: translateX(0.035rem);
          transform: translateX(0.035rem);
}

.copied-link {
  opacity: 0;
  position: absolute;
  background: #4b4a4a;
  border-radius: .25em;
  font-size: .75rem;
  padding: .0625rem .5rem .25rem;
  color: #fff;
  text-align: center;
  min-width: 3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: -1.75rem;
  left: -1rem;
  -webkit-animation-duration: 1.2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.copied-link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: .4rem solid transparent;
  border-top-color: #4b4a4a;
  border-bottom: 0;
  border-left: 0;
  margin-left: -.2rem;
  margin-bottom: -.4rem;
}

.copied-link.show {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.zalo-share-button {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

/* Post Featured */
.post-featured {
  margin: 1.75rem 0 0;
  font-size: .9375rem;
  text-align: justify;
  line-height: 1.4;
}

.wp-caption {
  max-width: 100%;
  margin: auto;
}

.post-content {
  font-size: .9375rem;
  line-height: 1.4;
}

.post-content img {
  margin-left: auto;
  margin-right: auto;
}

.post-content-wrapper {
  margin-top: 1.25rem;
}

.post-content h2 + .wp-caption {
  margin: 1rem 0 0;
}

/* TOC */
.dt-toc {
  margin: 1.25rem 0 0;
}

.dt-toc .toc-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  background: #fff;
  cursor: pointer;
  border-bottom: thin solid #eaeaea;
}

.toc-header h3 {
  margin: 0;
  font-weight: 500;
  padding: .75rem 0;
  font-size: 1.125rem;
  width: 100%;
}

.toc-item {
  font-size: .875rem;
  font-weight: 400;
}

.toc-item a {
  padding: .625rem 2rem .725rem 0;
  display: inline-block;
  border-bottom: thin solid #D0D2D3;
}

.list-child-toc {
  padding-left: 1.5rem;
}

.dt-toc.collapse .toc-content {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.toc-trigger {
  visibility: hidden;
  z-index: -1;
  position: fixed;
  left: 2.75rem;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 2.625rem;
  height: 2.625rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: thin solid rgba(0, 0, 0, 0.35);
  -webkit-transition: opacity 0.25s 0s ease-in-out;
  transition: opacity 0.25s 0s ease-in-out;
}

.dt-toc.sticky-toc .toc-trigger {
  visibility: visible;
  z-index: 9;
}

.toc-trigger a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  padding: .375rem;
  -webkit-transition: none;
  transition: none;
}

.toc-trigger svg {
  width: 100%;
  height: 100%;
}

.dt-toc .toc-header span.act {
  content: url(../images/arrow.svg);
  position: absolute;
  height: 1rem;
  width: 1rem;
  display: block;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: .625rem;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.25s 0s ease-in-out;
  transition: -webkit-transform 0.25s 0s ease-in-out;
  transition: transform 0.25s 0s ease-in-out;
  transition: transform 0.25s 0s ease-in-out, -webkit-transform 0.25s 0s ease-in-out;
}

.dt-toc.collapse .toc-header span.act {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.dt-toc.expand {
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  margin: 0;
  z-index: 1001;
}

.dt-toc.expand .toc-wrapper {
  width: 43.75rem;
  max-width: 92vw;
  padding: 0 1.5rem 1rem;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -0.0625rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: -0.0625rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.dt-toc.expand .toc-trigger {
  z-index: -1;
  visibility: hidden;
}

.dt-toc.expand .toc-header span.act {
  content: url(../images/close.svg);
  -webkit-transform: none;
          transform: none;
  height: 1.5rem;
  width: 1.5rem;
  -webkit-transition: all .1s;
  transition: all .1s;
  opacity: 0;
  right: -.25rem;
  -webkit-animation: zoomIn .45s .1s ease-out;
          animation: zoomIn .45s .1s ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.dt-toc.expand .toc-content > .toc-item:last-child a {
  border: none;
}

.toc-trigger:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.dt-toc.expand .toc-trigger:hover {
  -webkit-transition: none;
  transition: none;
}

.toc-trigger:hover svg * {
  color: #fff;
}

/* Post content */
.post-content {
  padding: .5rem 0 0 4rem;
  margin: 1rem 0;
  position: relative;
  text-align: justify;
}

.post-content:before {
  content: '';
  position: absolute;
  width: .1125rem;
  height: 100%;
  background-image: url(../images/Line1.svg);
  border-radius: 50%;
  left: 1.75rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.post-content h2 {
  font-size: 1.25rem;
  margin: 1.25rem 0 -.25rem;
  padding-bottom: .5rem;
  position: relative;
  background: #fff;
  min-width: calc(78.75rem - 22.25rem - 2.875rem);
  left: -4rem;
}

.wp-caption p {
  color: #797979;
  text-align: center;
  font-size: .875rem;
  margin: .25rem 0 1rem;
}

.post-content img {
  margin-top: .5rem;
}

.post-content ul,
.post-content ol {
  margin: .75rem 0 .75rem 1.25rem;
}

.post-content li {
  line-height: 1.4;
  margin-bottom: .5rem;
}

.zoom-img {
  position: relative;
  display: block;
}

.zoom-img:before {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/zoom-in.svg);
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  right: 1rem;
  top: 1rem;
  opacity: 0;
  visibility: hidden;
}

.zoom-img:hover:before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.zoomimg-wrapper.fancybox-is-open .fancybox-bg,
.zoomimg-wrapper .fancybox-bg,
.zoomimg-wrapper .fancybox-caption {
  background: #fff;
  opacity: 1;
  -webkit-transition: none !important;
  transition: none !important;
}

.zoomimg-wrapper .zoomimg-caption-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  width: 13.125rem;
  height: 100%;
  z-index: 99997;
  position: absolute;
  right: 3rem;
  opacity: 0;
  -webkit-transition: none;
  transition: none;
}

.zoomimg-caption-wrapper .share-post {
  margin-top: 1rem;
}

.zoomimg-close {
  position: relative;
  display: block;
}

.zoomimg-close:before {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/zoom-in.svg);
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  right: 1rem;
  top: 1rem;
  opacity: 1;
  visibility: visible;
}

.zoomimg-close.fancybox-button {
  background: transparent;
}

.zoomimg-wrapper .fancybox-toolbar {
  opacity: 1;
}

.zoomimg-wrapper .fancybox-slide--image {
  padding: 0;
}

/* Post tags */
.post-tags {
  margin: 2.25rem 0;
  overflow-x: auto;
  white-space: nowrap;
}

.post-tags strong {
  font-weight: 400;
  font-size: 1.125rem;
}

.post-tags a {
  color: #7B7B7B;
  font-size: .75rem;
  background: #F1F3F4;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1rem;
  border-radius: 1.5rem;
  padding: .65rem 1.5rem .75rem;
}

/* Video */
.single-video {
  margin: 2rem 0;
}

.single-video-inner {
  position: relative;
}

.single-video__iframe,
.single-video__iframe iframe {
  width: 100%;
  height: 28rem;
}

.show .single-video__iframe {
  background: rgba(0, 0, 0, 0.644);
  -webkit-animation: fadeIn .5s linear;
          animation: fadeIn .5s linear;
}

.single-video__thumb,
.single-video__overlay {
  position: absolute;
  width: 100%;
  height: 28rem;
  left: 0;
  top: 0;
}

.single-video__thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.single-video__overlay {
  background: rgba(25, 23, 23, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single-video__title {
  font-size: .875rem;
  font-weight: 300;
  letter-spacing: 0;
  color: #000;
  text-align: center;
  margin-top: .75rem;
}

.single-video__overlay .video-play__btn {
  margin-top: 0;
}

.video-play__btn {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.play-icon {
  width: 5rem;
  height: 5rem;
  margin-right: .75rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: .25rem solid #fff;
}

.play-icon:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.play-icon svg {
  width: 2.5rem;
  fill: #fff;
  -webkit-transform: translateX(0.125rem);
          transform: translateX(0.125rem);
}

.play-icon.countdown {
  -webkit-animation: pulsing 1s ease-out;
          animation: pulsing 1s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.countdown-el {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 5rem;
  color: #fff;
  -webkit-animation: timer_beat .5s ease-out;
          animation: timer_beat .5s ease-out;
}

.video-play__btn {
  position: relative;
}

/* Related */
.related-posts {
  margin: .75rem 0 4.5rem;
}

.related-posts__title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.75rem;
  display: block;
}

.related-carousel.owl-carousel .owl-stage {
  padding-left: 0 !important;
}

.article__info {
  padding: 2.25rem 1.5rem 3.5rem;
  border-top: none;
}

.article-box {
  border: thin solid #eaeaea;
}

.article__image {
  -webkit-transform: scale(1.0005);
          transform: scale(1.0005);
}

.article_category {
  font-size: 1.125rem;
  display: none;
}

.article__title {
  font-size: 1.5625rem;
  font-weight: 400;
  margin: 0 0 .5rem;
}

.article__title a {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.readmore {
  font-size: .8125rem;
  font-weight: 500;
}

.article__image img {
  height: 19.125rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel--style1.owl-theme .owl-nav {
  position: absolute;
  top: -4.375rem;
  right: -3.125rem;
  margin: 0;
}

.carousel--style1 .nav-btn {
  width: 3.0625rem;
  height: 3.0625rem;
  background: #000;
  padding: .75rem;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.carousel--style1.owl-theme .owl-nav .disabled {
  opacity: 1;
}

.carousel--style1 .disabled .nav-btn {
  background: transparent;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.carousel--style1 .nav-btn.prev-nav {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.carousel--style1.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
}

.carousel--style1 .owl-nav > :not(.disabled):hover img {
  -webkit-animation: bounce-arrow .5s ease-in-out;
          animation: bounce-arrow .5s ease-in-out;
}

.related-posts .carousel--style1 .owl-stage-outer {
  width: calc(78.75rem + (100vw - 78.75rem)/2);
}

.carousel--style1 .owl-dots {
  display: none;
}

/* Shortcode */
.videoyt {
  margin: 2rem 0;
  position: relative;
}

.videoyt__iframe,
.videoyt__iframe iframe {
  width: 100%;
  height: 28rem;
}

.show .videoyt__iframe {
  background: rgba(0, 0, 0, 0.644);
  -webkit-animation: fadeIn .5s linear;
          animation: fadeIn .5s linear;
}

.videoyt__thumb,
.videoyt__overlay {
  position: absolute;
  width: 100%;
  height: 28rem;
  left: 0;
  top: 0;
}

.videoyt__thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.videoyt__overlay {
  background: rgba(25, 23, 23, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.videoyt__title {
  font-size: .875rem;
  font-weight: 300;
  letter-spacing: 0;
  color: #000;
  text-align: center;
  margin-top: .75rem;
}

.videoyt__overlay .video-play__btn {
  margin-top: 0;
}

.video-play__btn {
  margin-top: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.play-icon {
  width: 5rem;
  height: 5rem;
  margin-right: .75rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: .25rem solid #fff;
}

.play-icon svg {
  width: 2.5rem;
  fill: #fff;
  -webkit-transform: translateX(0.125rem);
          transform: translateX(0.125rem);
}

/* Sidebar Banner */
.sidebar-banner {
  position: relative;
}

.sidebar-banner__button {
  position: absolute;
  bottom: 3.125rem;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-banner__button .btn--outline {
  background: #fff;
}

.sidebar-banner__button .btn--outline:hover {
  border-color: #fff;
}

/* Sidebar post */
.widget-title {
  font-size: 1.25rem;
  font-weight: 500;
  display: block;
  margin: 0 0 1.25rem;
}

.sidebar-area .widget {
  margin-bottom: 1.375rem;
}

.sidebar-post__item {
  margin-bottom: 1rem;
  border: thin solid #eaeaea;
  position: relative;
}

.sidebar-post__item-image {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 6.75rem;
}

.sidebar-post__item-image,
.sidebar-post__item-image a {
  display: -ms-grid;
  display: grid;
}

.sidebar-post__item-image a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}

.sidebar-post__item-image img {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar-post__item-info {
  padding-left: .875rem;
  padding-right: .25rem;
  -webkit-transform: translateY(-0.125rem);
          transform: translateY(-0.125rem);
}

.sidebar-post__item-cat {
  font-size: .75rem;
  font-weight: 500;
  display: block;
}

.sidebar-post__item-title {
  margin: .25rem 0 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.category_posts .widget-title {
  margin-bottom: .5rem;
}

.sidebar-category__list,
.sidebar-category__sublist {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.sidebar-category__item {
  position: relative;
}

.sidebar-category__item > a > .act {
  content: '';
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  display: block;
  top: 0;
  bottom: 0;
  background-image: url(../images/arrow.svg);
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: -1.25rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: auto;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.25s 0s ease-in-out;
  transition: -webkit-transform 0.25s 0s ease-in-out;
  transition: transform 0.25s 0s ease-in-out;
  transition: transform 0.25s 0s ease-in-out, -webkit-transform 0.25s 0s ease-in-out;
}

.sidebar-category__link {
  position: relative;
  padding: .975rem 0;
  display: block;
  font-size: 1rem;
  border-bottom: thin solid #D0D2D3;
}

.sidebar-category__sublist .sidebar-category__item {
  padding-left: 1.75rem;
}

.sidebar-category__sublist .sidebar-category__item:before {
  content: '';
  position: absolute;
  width: .25rem;
  height: .25rem;
  background: #000;
  border-radius: 50%;
  left: .75rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.sidebar-category__item.expand .act {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.sidebar-category__sublist {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: max-height .35s;
  transition: max-height .35s;
  overflow: hidden;
  max-height: 0;
}

.sidebar-category__item.expand .sidebar-category__sublist {
  max-height: 20.25rem;
  opacity: 1;
  visibility: visible;
}

/* archive */
.archive-inner {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 2rem;
}

.articles-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

.article-item {
  -ms-flex-preferred-size: calc((100% - 1.625rem)/2);
      flex-basis: calc((100% - 1.625rem)/2);
  margin-bottom: 1.5rem;
}

.archive-main .article__title {
  font-size: 1.125rem;
}

.archive-main .article__image img {
  height: 17.125rem;
}

.archive-main .article__info {
  padding: .75rem 1.25rem;
}

.archive-main .expert {
  margin-top: .5rem;
  font-size: .875rem;
}

.taxonomy-description {
  text-align: justify;
  font-size: .9375rem;
}

.article__image,
.article__image a {
  display: -ms-grid;
  display: grid;
}

.dt-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1.5rem 0 2.75rem;
}

.page-numbers {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: thin solid #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  font-size: .875rem;
  line-height: 0;
}

.page-numbers:not(:first-child) {
  margin-left: .75rem;
}

.page-numbers.next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition-duration: .05s;
          transition-duration: .05s;
}

.page-numbers.prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-duration: .05s;
          transition-duration: .05s;
}

.page-numbers.next img,
.page-numbers.prev img {
  width: .75rem;
}

.page-numbers.current,
.page-numbers:hover {
  color: #2D925A;
  border-color: #2D925A;
}

.page-numbers.next:hover,
.page-numbers.prev:hover {
  -webkit-filter: invert(49%) sepia(11%) saturate(2244%) hue-rotate(94deg) brightness(93%) contrast(93%);
          filter: invert(49%) sepia(11%) saturate(2244%) hue-rotate(94deg) brightness(93%) contrast(93%);
  -webkit-transition: none;
  transition: none;
}

.archive-header {
  margin: 0 0 2.5rem;
}

.archive-title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 0;
}

.featured-tag__link {
  margin: 0 .5rem 1rem 0;
}

/* Search */
.search-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin: .25rem 0 1rem;
}

.keyword {
  text-transform: none;
  font-weight: 500;
  font-size: 1.25rem;
}

.search-other {
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  font-size: .9375rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-other img {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 1rem;
}

.archive-header {
  position: relative;
}

.search__filters {
  margin: -1rem 0 2rem;
  overflow-x: auto;
  white-space: nowrap;
}

.search__filters .btn {
  text-transform: uppercase;
}

.search__filters .btn:not(:first-child) {
  margin-left: 1rem;
}

.search-item {
  border: thin solid #eaeaea;
  width: 100%;
  margin-bottom: 1.125rem;
}

.search-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.search-item__thumb {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 11.875rem;
  height: 11.875rem;
  display: -ms-grid;
  display: grid;
}

.search-item__thumb img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-item__content {
  padding-left: 1.25rem;
  padding-right: 1rem;
}

.search-item__title {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: .25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.search-item__cat {
  font-size: .9375rem;
}

.search-item__expert {
  margin: .5rem 0 .5rem;
  font-size: .9375rem;
}

.search-not-found__notice {
  font-size: 1.5rem;
  line-height: 1.4;
}

/* Hide sidebar */
.hide-sidebar #dt-sidebar {
  display: none;
}

.hide-sidebar .single-inner > .post {
  padding-right: 0;
}

.hide-sidebar .dt-breadscrumb {
  max-width: calc(100% - 22.25rem);
  margin-left: auto;
  margin-right: auto;
}

.article_meta {
  position: relative;
  margin-bottom: .25rem;
  font-size: .875rem;
}

.single .article_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single .article_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article_date img {
  width: 1.25rem !important;
  vertical-align: middle;
  margin-right: .5rem;
  position: static !important;
  -webkit-transform: none !important;
          transform: none !important;
}

@media screen and (max-width: 1023px) {
  .hide-sidebar .container {
    max-width: 89.6%;
  }
  .dt-breadscrumb {
    margin: 1rem 0 .857rem;
  }
  .breadcrumb a, .breadcrumb span {
    font-size: .857rem;
  }
  .breadcrumb {
    white-space: nowrap;
    overflow-x: auto;
  }
  .single-inner > .post, .archive-main {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    padding: 0;
  }
  .post-title {
    font-size: 1.428rem;
  }
  .post-content {
    padding-left: 0;
    padding-top: 0;
    margin-top: 0;
  }
  .post-content:before {
    content: none;
  }
  .post-content h2 {
    min-width: auto;
    position: static;
  }
  .post-details img,
  .post-details .single-video-inner,
  .post-details .videoyt {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .post-details .share-post__item img {
    position: static;
    -webkit-transform: none;
            transform: none;
    min-width: auto;
    width: auto;
  }
  .post-details .share-post__item.chia-se-len-zalo img,
  .post-details .share-post__item.share-on-zalo img {
    width: 1.55rem;
    -webkit-transform: translateX(0.0525rem);
            transform: translateX(0.0525rem);
  }
  .post-content ul, .post-content ol {
    margin-left: 0;
  }
  .post-content-wrapper {
    margin-top: 0;
  }
  .wp-caption p {
    font-size: .975rem;
  }
  .post-featured,
  .post-content {
    font-size: 1.0375rem;
    line-height: 1.55;
  }
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5 {
    line-height: 1.5;
  }
  .toc-trigger {
    top: auto;
    bottom: 3rem;
    left: auto;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
  }
  .post-tags {
    margin: 1.5rem 0 2.57rem;
  }
  .sidebar-area {
    width: 100%;
  }
  .sidebar-post__item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .archive-title {
    font-size: 1.428rem;
  }
  .archive-header {
    margin-bottom: 1.2rem;
  }
  .article-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 1.57rem;
  }
  .archive-main .article__title {
    font-size: 1.2857rem;
    min-height: auto !important;
  }
  .archive-main .expert {
    min-height: auto !important;
  }
  .article-item:not(:first-child) {
    margin-bottom: .857rem;
  }
  .article-item:not(:first-child) .article-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-item:not(:first-child) .article__image {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 38.26%;
  }
  .article-item:not(:first-child) .expert {
    display: none;
  }
  .article-item:not(:first-child) .article__image img,
  .article-item:not(:first-child) .article__info {
    height: 7.1428rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: thin solid #CFD1D2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-item:not(:first-child) .article__title {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    min-height: auto !important;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .toc-trigger a {
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .zoomimg-wrapper {
    display: none !important;
  }
  .related-posts {
    margin: 0rem 0 3rem;
  }
  .related-carousel.owl-carousel {
    display: block;
  }
  .related__item .article-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
    border: thin solid #eaeaea;
    position: relative;
  }
  .related__item .article__image {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 6.75rem;
  }
  .related__item .article__image img {
    height: 6.125rem;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: scale(1.005);
            transform: scale(1.005);
  }
  .article_category {
    font-size: .75rem;
    font-weight: 500;
    display: block;
  }
  .related__item .article__info {
    padding: 0;
    padding-left: .875rem;
    padding-right: .25rem;
    -webkit-transform: translateY(-0.125rem);
    transform: translateY(-0.125rem);
    border: none;
  }
  .related__item .article__title {
    margin: .25rem 0 0;
    display: block;
    font-size: 1rem;
    min-height: auto !important;
  }
  .related__item .readmore {
    display: none;
  }
  .related__item .article-item {
    margin-bottom: 0;
  }
  .videoyt__thumb, .videoyt__overlay,
  .videoyt__iframe, .videoyt__iframe iframe,
  .single-video__thumb, .single-video__overlay,
  .single-video__iframe, .single-video__iframe iframe {
    height: 15.1428rem;
  }
  /* search */
  .search-other,
  .search-item__expert {
    display: none;
  }
  .search-title {
    font-size: 1.28rem;
    white-space: nowrap;
    overflow-x: auto;
  }
  .search__filters {
    margin: 0 0 2rem;
  }
  .search__filters .btn {
    font-size: .75rem;
  }
  .search-item__thumb {
    width: 6.75rem;
    height: 6.125rem;
  }
  .search-item__thumb img {
    -webkit-transform: scale(1.005);
            transform: scale(1.005);
    height: 6.125rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .search-item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .search-item__cat {
    font-size: .75rem;
    font-weight: 500;
    display: block;
  }
  .search-item__title {
    font-size: 1rem;
    font-weight: 400;
    margin-top: .25rem;
  }
  .search-item {
    margin-bottom: 1rem;
  }
  .hide-sidebar .dt-breadscrumb {
    max-width: 100%;
  }
  .single-video__title {
    max-width: 89.6%;
    line-height: 1.4;
  }
  .article-item:not(:first-child) .article__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .popup-content-inner img,
  .popup__close img
  {
      width:100%;
  }
  .popup-header
  {
      z-index:1;
  }
}

@media screen and (min-width: 1600px) {
  .banner__image img {
    max-height: 35vw;
  }
  .related-posts .carousel--style1 .owl-stage-outer {
    max-width: 78.75rem;
  }
  .carousel--style1.owl-theme .owl-nav {
    right: 0;
  }
  .news .carousel-counter {
    right: 3.25rem;
  }
  .dt-pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .post-details .share-post__item img {
    width: 1rem;
  }
  .post-details .chia-se-len-facebook img {
    width: .45rem;
  }
  .post-details .chia-se-len-zalo img {
    width: 1.255rem;
  }
  .single-inner {
    padding-bottom: 2rem;
  }
  .touch .archive-main .expert,
  .touch .article__info a {
    min-height: auto !important;
  }
}

/* Fix IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .share-post__item img {
    max-width: 1.4rem;
    width: auto;
  }
  .share-post__item.link-copy:hover {
    background: transparent;
  }
  .single-inner > .post, .archive-main {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/* Fix for touch device */
@media screen and (min-width: 1024px) {
  .touch .archive-main .expert {
    min-height: auto !important;
  }
}
/*# sourceMappingURL=post.css.map */